<footer>

	<div class="container">
		<div class="footer_details">
			<div class="address_social">
				<a href="/index.html"><img loading="lazy" src="/assets/images/logo/logo_light.svg" alt="footer logo" class="f_logo" /></a>
				<p class="footer_company_name">
					At CloudAI, we deliver tailored IT solutions that simplify processes, enhance innovation, and drive sustainable growth. From modernization to AI strategies, we empower organizations to lead
					in the digital age.
				</p>
				<div class="social_sec">
					<a href="https://www.linkedin.com/company/cloudai-technologies" target="_blank">
						<img loading="lazy" src="/assets/images/icons/linkedin.svg" alt="Linkdin" width="40" height="40" />
					</a>
				</div>
			</div>
			<div class="links_section">
				<div class="links_box">
					<h4><a href="/pages/services/services.html">Expertise and Solutions</a></h4>
					<a href="/pages/services/enterprise-modernization.html">Enterprise Modernization</a><a href="/pages/services/digital-transformation.html">Digital Transformation</a
					><a href="/pages/services/it-staffing.html">IT Staffing Solutions</a>
				</div>
				<div class="links_box">
					<h4><a href="/pages/careers.html">Careers</a></h4>
					<h4><a href="/pages/about.html">About Us</a></h4>
					<h4><a class="" href="/pages/our-network.html">Our Network</a></h4>
				</div>
				<div class="links_box">
					<h4><a href="/pages/contact-us.html">Contact Us</a></h4>
					<span
						><img loading="lazy" src="/assets/images/icons/mail_icn.svg" alt="contact email" /><span style="margin-bottom: 0"
							><a href="mailto:contact@cloudaillc.com" style="text-transform: none">contact@cloudaillc.com</a></span
						></span
					>
				</div>
			</div>
		</div>
		<div class="copyright_links_sec">
			<span>Copyright © CloudAI Technologies • 2025 </span>
		</div>
	</div>
</footer>
