<div class="navbar">
	<a href="/index.html" class="logo"><img loading="lazy" alt="logo" loading="lazy" decoding="async" data-nimg="1" src="/assets/images/logo/logo.svg" /></a>
	<section class="primary-wrap sidenav sidemenu nav-wrap" id="push_sidebar">
		<div class="main-menu primary-nav">
			<ul class="nav">
				<li><a class="nav-heading" href="/index.html">Home</a></li>
				<li class="has-sub">
					<span class="submenu-button"></span>
					<a class="nav-heading" href="/pages/about.html">About Us <i class="arrow down"></i></a>
					<ul class="header_dropdown_items close">
						<li>
							<a class="nav-heading" href="/pages/about.html#who_we_are">Who we are </a>
						</li>
						<li>
							<a class="nav-heading" href="/pages/our-network.html">Our Network </a>
						</li>
					</ul>
				</li>
				<li class="has-sub">
					<span class="submenu-button"></span>
					<a class="nav-heading" href="/pages/services/services.html">Services <i class="arrow down"></i></a>
					<ul class="header_dropdown_items close">
						<li>
							<a class="nav-heading" href="/pages/services/enterprise-modernization.html">Enterprise Modernization </a>
						</li>
						<li>
							<a class="nav-heading" href="/pages/services/digital-transformation.html">Digital Transformation </a>
						</li>
						<li>
							<a class="nav-heading" href="/pages/services/it-staffing.html">IT Staffing</a>
						</li>
					</ul>
				</li>

				<li><a class="nav-heading" href="/pages/careers.html">Careers</a></li>
			</ul>
		</div>
	</section>
	<div class="menu_mob">
		<a href="/pages/contact-us.html" class="btn">Contact Us</a>
		<div class="show_mobile">
			<button type="button" class="side-menu-open side-menu-trigger nav-trigger" aria-label="Menu">
				<span class="menu-btn-icon sidebarBtn"><span class="bar"></span> <span class="bar"></span><span class="bar"></span></span><span class="menu-text">Menu</span>
			</button>
		</div>
	</div>
</div>
